<!-- ABOUT - SECTION HOW IT’S MADE? -->
<section class="about-section">
  <div class="container">
    <h2 class="about-title" id="how_made">How it&#8217;s <span>made?</span></h2>
    <div class="about-content-wrap">
      <div class="about-video-box">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/fZGwpvGXDDo?fs=0&modestbranding=1&mute=1&start=2&end=120&showinfo=0&rel=0"
          title="YouTube video
            player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="about-list-box">
        <h3 class="about-list-title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="about-list">
          <li class="about-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="about-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="about-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="about-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="about-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
