<section class="container hero-container">
  <div class="hero background">
    <h1 class="visually-hidden">Simply Chocolate</h1>
    <div class="hero-wrap">
      <h2 class="hero-title animate__animated animate__fadeInDownBig">
        <span>Treat yourself or a loved one to</span>
        <span>our finest ingredients for a moment </span
        ><span>of pure delight!</span>
      </h2>
      <div class="hero-btns">
        <button class="hero-order-btn js-open-modal" data-modal="1">
          Buy now
        </button>
        <a href="#how_made" class="hero-info-btn">How it&#8217;s made</a>
        <div class="hero-text">
          <a href="#footer" class="scroll-btn-i">
            scroll down
            <div class="scroll-btn">
              <svg class="scroll-btn-icon">
                <use href="./img/icons.svg#arrow-down"></use>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
