<div class="overlay js-overlay-modal"></div>
<div class="modal_feed modal" data-modal="4">
  <button class="feed-close-button js-modal-close" type="button">
    <svg class="feed-close-icon" width="16" height="16">
      <use href="/img/icons.svg#x"></use>
    </svg>
  </button>
  <form class="form-feed">
    <b class="form-feed-title"
      ><span>thank you </span> <span> for your feedback!</span></b
    >
    <p class="form-feed-text">We are so happy to hear from you!</p>
    <div class="pop-up">
      <picture>
        <source
          srcset="/img/pop-up-mob@1x.png 1x, /img/pop-up-mob@2x.png 2x"
          width="296"
          media="(max-width: 767px)"
        />
        <source
          srcset="/img/pop-up-tab@1x.png 1x, /img/pop-up-tab@2x.png 2x"
          media="(min-width: 767px)"
          width="383"
        />

        <img src="/img/pop-up-tab@2x.png" alt="Chocolade" />
      </picture>
    </div>
  </form>
</div>
