<div class="overlay js-overlay-modal"></div>
<div class="modal_thanks modal" data-modal="2">
  <button class="thanks-close-button js-modal-close" type="button">
    <svg class="thanks-close-icon">
      <use href="./img/icons.svg#x"></use>
    </svg>
  </button>
  <form class="form-thanks">
    <b class="form-thanks-title">thank you!</b>
    <p class="form-thanks-text">
      We are glad that you ordered our chocolate and we are giving you a
      <span>20%</span>
      discount on all our products.
    </p>
    <div class="pop-up">
      <picture>
        <source
          srcset="./img/pop-up-mob@1x.png 1x, ./img/pop-up-mob@2x.png 2x"
          width="296"
          media="(max-width: 767px)"
        />
        <source
          srcset="./img/pop-up-tab@1x.png 1x, ./img/pop-up-tab@2x.png 2x"
          media="(min-width: 767px)"
          width="383"
        />

        <img src="./img/pop-up-tab@2x.png" alt="Chocolade" />
      </picture>
    </div>
  </form>
</div>
