<section class="container product-container">
  <h2 id="products" class="product-title">OUR <span>PRODUCTS</span></h2>

  <div class="swiper swiper-product">
    <ul class="swiper-wrapper product-list">
      <li class="swiper-slide product-item">
        <div class="product-card">
          <img
            srcset="./img/product1@1x.jpg 1x, ./img/product1@2x.jpg 2x"
            src="./img/product1@1x.jpg"
            alt="Orange dark chocolate" width="230" height="201"
          />
          <h3 class="product-card-title">ORANGE</h3>
          <p class="product-text">Dark chocolate</p>
          <button type="button" class="product-button">45 UAH</button>
        </div>
      </li>
      <li class="swiper-slide product-item">
        <div class="product-card">
          <img
            srcset="./img/product2@1x.jpg 1x, ./img/product2@2x.jpg 2x"
            src="./img/product2@1x.jpg"
            alt="Apple and cranberry milk chocolate" width="230" height="201"
          />
          <h3 class="product-card-title">APPLE&CRANBERRY</h3>
          <p class="product-text">Milk chocolate</p>
          <button type="button" class="product-button">50 UAH</button>
        </div>
      </li>
      <li class="swiper-slide product-item">
        <div class="product-card">
          <img
            srcset="./img/product3@1x.jpg 1x, ./img/product3@2x.jpg 2x"
            src="./img/product3@1x.jpg"
            alt="Lime and sea salt dark chocolate" width="230" height="201"
          />
          <h3 class="product-card-title">LIME&SEA SALT</h3>
          <p class="product-text">Dark chocolate</p>
          <button type="button" class="product-button">66 UAH</button>
        </div>
      </li>
      <li class="swiper-slide product-item">
        <div class="product-card">
          <img
            srcset="./img/product4@1x.jpg 1x, ./img/product4@2x.jpg 2x"
            src="./img/product4@1x.jpg"
            alt="Pineapple dark chocolate" width="230" height="201"
          />
          <h3 class="product-card-title">PINEAPPLE</h3>
          <p class="product-text">Dark chocolate</p>
          <button type="button" class="product-button">54 UAH</button>
        </div>
      </li>
      <li class="swiper-slide product-item">
        <div class="product-card">
          <img
            srcset="./img/product5@1x.jpg 1x, ./img/product5@2x.jpg 2x"
            src="./img/product5@1x.jpg"
            alt="Classic milk chocolate" width="230" height="201"
          />
          <h3 class="product-card-title">CLASSIC</h3>
          <p class="product-text">Milk chocolate</p>
          <button type="button" class="product-button">45 UAH</button>
        </div>
      </li>
      <li class="swiper-slide product-item">
        <div class="product-card">
          <img
            srcset="./img/product6@1x.jpg 1x, ./img/product6@2x.jpg 2x"
            src="./img/product6@1x.jpg"
            alt="Honey milk chocolate" width="230" height="201"
          />
          <h3 class="product-card-title">HONEY</h3>
          <p class="product-text">Milk chocolate</p>
          <button type="button" class="product-button">50 UAH</button>
        </div>
      </li>
      <li class="swiper-slide product-item">
        <div class="product-card">
          <img
            srcset="./img/product7@1x.jpg 1x, ./img/product7@2x.jpg 2x"
            src="./img/product7@1x.jpg"
            alt="Roasted fruits dark chocolate" width="230" height="201"
          />
          <h3 class="product-card-title">ROASTED FRUITS</h3>
          <p class="product-text">Dark chocolate</p>
          <button type="button" class="product-button">66 UAH</button>
        </div>
      </li>
      <li class="swiper-slide product-item">
        <div class="product-card">
          <img
            srcset="./img/product8@1x.jpg 1x, ./img/product8@2x.jpg 2x"
            src="./img/product8@1x.jpg"
            alt="Classic white chocolate" width="230" height="201"
          />
          <h3 class="product-card-title">CLASSIC</h3>
          <p class="product-text">White chocolate</p>
          <button type="button" class="product-button">54 UAH</button>
        </div>
      </li>
    </ul>

    <div class="swiper-pagination swiper-pagination-product"></div>
  </div>
</section>
