<section class="reviews" id="chocolate">
  <div class="container">
    <h2 class="reviews-title">
      <span class="reviews-title-accent">chocolate</span> is loved
    </h2>
    <div>
      <div class="swiper">
        <ul class="reviews-list swiper-wrapper">
          <li class="reviews-item swiper-slide">
            <blockquote>
              <img class="reviews-foto" src="./img/Victoria@1x.png" title alt="Foto Victoria" srcset="./img/Victoria@1x.png 1x, ./img/Victoria@2x.png 2x" width="80" height="80">
              <cite class="reviews-subtitle">Victoria Dobrzhanska</cite>
              <p class="reviews-text">
                I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
              </p>
            </blockquote>
          </li>
          <li class="reviews-item swiper-slide">
            <blockquote>
              <img class="reviews-foto" src="./img/Nazar@1x.png" title alt="Foto Nazar" srcset="./img/Nazar@1x.png 1x, ./img/Nazar@2x.png 2x" width="80" height="80">
              <cite class="reviews-subtitle">Nazar Babenko</cite>
              <p class="reviews-text">
                This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate
                is good.
              </p>
            </blockquote>
          </li>
          <li class="reviews-item swiper-slide">
            <blockquote>
              <img class="reviews-foto" src="./img/Olena@1x.png" title alt="Foto Olena" srcset="./img/Olena@1x.png 1x, ./img/Olena@2x.png 2x" width="80" height="80">
              <cite class="reviews-subtitle">Olena Kampusch</cite>
              <p class="reviews-text">
                Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but
                crunchy.
              </p>
            </blockquote>
          </li>
          <li class="reviews-item swiper-slide">
            <blockquote></blockquote>
            <img class="reviews-foto" src="./img/Natalia@1x.png" title alt="Foto Natalia" srcset="./img/Natalia@1x.png 1x, ./img/Natalia@2x.png 2x" width="80" height="80">
            <cite class="reviews-subtitle">Natalia Sus</cite>
            <p class="reviews-text">
              The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </li>
          <li class="reviews-item swiper-slide">
            <blockquote>
              <img class="reviews-foto" src="./img/Danilo@1x.png" title alt="Foto Danilo" srcset="./img/Danilo@1x.png 1x, ./img/Danilo@2x.png 2x" width="80" height="80">
              <cite class="reviews-subtitle">Danilo Nottingham</cite>
              <p class="reviews-text">
                This is delicious. It so rich and flavorful you don't need to use as many. I love topping an apple with almond butter and these
                chips for a snack.
              </p>
            </blockquote>
          </li>
          <li class="reviews-item swiper-slide">
            <blockquote>
              <img class="reviews-foto" src="./img/Irina@1x.png" title alt="Foto Irina" srcset="./img/Irina@1x.png 1x, ./img/Irina@2x.png 2x" width="80" height="80">
              <cite class="reviews-subtitle">Irina Tydnyuk</cite>
              <p class="reviews-text">
                This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)
              </p>
            </blockquote>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <button class="reviews-btn js-open-modal" data-modal="3" type="button">
      Leave a review
    </button>
  </div>
</section>
