<section id="sellers" class="sellers">
  <div class="container">
    <h2 class="sellers-title"><span>TOP</span> SELLERS</h2>
    <ul class="sellers-list">
      <li>
        <picture>
          <source
            srcset="
              ./img/choco-nut-desk@1x.jpg 1x,
              ./img/choco-nut-desk@2x.jpg 2x
            "
            width="368"
            height="464"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/choco-nut-tab@1x.jpg 1x,
              ./img/choco-nut-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="344"
            height="464"
          />
          <source
            srcset="
              ./img/choco-nut-mob@1x.jpg 1x,
              ./img/choco-nut-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="335"
            height="464"
          />
          <img
            class="sellers-image sellers-image-first"
            src="./img/choco-nut-mob@1x.jpg"
            alt="Chocolate and chickpeas on the table"
            width="335"
            height="464"
          />
        </picture>
        <p class="sellers-text sellers-text-mobile">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li>
        <picture class="sellers-image">
          <source
            srcset="
              ./img/choco-slice-desk@1x.jpg 1x,
              ./img/choco-slice-desk@2x.jpg 2x
            "
            width="368"
            height="464"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/choco-slice-tab@1x.jpg 1x,
              ./img/choco-slice-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="344"
            height="464"
          />
          <source
            srcset="
              ./img/choco-slice-mob@1x.jpg 1x,
              ./img/choco-slice-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="335"
            height="464"
          />
          <img
            class="sellers-image"
            src="./img/choco-slice-mob@1x.jpg"
            alt="Chocolate and chickpeas on the table"
            width="335"
            height="464"
          />
        </picture>
      </li>
      <li>
        <img
          class="sellers-image"
          srcset="
            ./img/choco-candy-desk@1x.jpg 1x,
            ./img/choco-candy-desk@2x.jpg 2x
          "
          src="./img/choco-candy-desk@1x.jpg"
          alt="Chocolate and chickpeas on the table"
          width="368"
          height="464"
        />
      </li>
    </ul>
    <div class="wrap-sellers-txt-btn">
      <p class="sellers-text sellers-text-tab-desk">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="sellers-button js-open-modal" type="button" data-modal="1">
        Buy now
      </button>
    </div>
  </div>
</section>
