:root {
  --accent-color: rgba(253, 146, 34, 1);
  --background-color: rgba(250, 250, 250, 1);
  --background-dark-color: rgba(30, 24, 35, 1);
  --text-white-color: rgba(255, 255, 255, 1);
  --text-dark-color: rgba(17, 17, 17, 1);
  --footer-background-color: rgba(30, 24, 35, 1);
  --border-color: rgba(17, 17, 17, 0.05);
  --placeholder-color: rgba(64, 64, 64, 0.3);
  --bullet-color: rgba(17, 17, 17, 0.1);
  --btn-hover-color: rgba(252, 241, 224, 1);
  --transition-speed: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  --swiper-pagination-bullet-horizontal-gap: 6.5px;
  --about-bg-color-item: rgba(76, 76, 76, 1);
  --background-light-color: rgba(255, 255, 255, 1);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Swiper */
.swiper-wrapper {
  border-radius: 15px;
}

.swiper-pagination {
  position: static;
}

.swiper-slide {
  background: #fff;
  border-radius: 15px;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 13px;
  height: 13px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: var(--bullet-color);
}

.swiper-pagination-bullet {
  margin: 0px var(--swiper-pagination-bullet-horizontal-gap);
}

.swiper-pagination-bullet-active {
  width: 28px;
  border-radius: 6.5px;
  color: #fff;
  background: var(--accent-color);
}
.overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 1000ms linear;
  /* pointer-events: none; */
  /* overflow-y: auto; */
}
/* .modal.active {
  opacity: 1;
  scale: 1;
  visibility: visible;

}
.overlay.active {
  opacity: 1;
  visibility: visible;
  
} */

/* .modal {
  position: fixed;
  z-index: 30;
  transition: scale 500ms linear, opacity 500ms linear;
  scale: 0.4;
  top: 50%;
  left: 50%;
  
}  */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  transition: var(--transition-speed);
  /* overflow: auto; */
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
