.header-logo-link {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
  }

  .header-logo {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .header-button-humburger {
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-humburger {
    stroke: var(--text-dark-color);
  }
  .header-all {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 14px;
  }
   /* -----------DESKTOP NORMAL----------- */
.header-navigation-list {
    display: flex;
    gap: 24px;
}
.header-navigation-item {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--text-dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation-item:is(:hover,:focus) {
    color: var(--accent-color);
}
.header-social-list {
    display: flex;
    gap: 18px;
}
.header-social-icon {
    width: 24px;
    height: 24px;
    stroke: var(--text-dark-color);
    fill: transparent;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-social-link:is(:hover,:focus) .header-social-icon {
    stroke: var(--accent-color);
}
   /* ------------------------MENU------------------ */
  .header-menu {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;
    background-color: var(--background-dark-color);
    padding: 20px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu.is-open {
    transform: translateX(0);
  }
  .header-closer {
    stroke: var(--text-white-color);
  }
  .header-menu-button {
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 88px;
  }
  .header-menu-btn-nav {
    margin-bottom: 16px;
  }
  .header-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-menu-navigation-item {
    color: var(--text-white-color);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }
  .header-menu-navigation-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .header-menu-social-list {
    display: flex;
    gap: 18px;
  }
  .header-menu-navigation {
    padding-left: 30px;
  }
  .header-menu-social-icon {
    stroke: var(--text-white-color);
  }
  .header-button-humburger,.header-menu-button {
    width: 28px;
    height: 28px;
}
.header-menu-social-inst {
    width: 22px;
    height: 22px;
}
.header-menu-social-twit {
    width: 20px;
    height: 20px;
}
.header-logo-icon {
    width: 21px;
    height: 21px;
}
 /* -----------TABLET------------------------------ */
  @media screen and (min-width: 768px) {
    .header-menu {
      padding: 32px 24px;
    }
    .header-all {
        padding-top: 24px;
        padding-bottom: 24px;
      }
    .header-menu-navigation {
      padding-left: 53px;
    }
    .header-menu {
      width: 290px;
    }
    .header-menu-button {
        margin-bottom: 100px;
    }
    .header-menu-navigation-item:first-child {
color: var(--accent-color);
    }
    .header-button-humburger, .header-menu-button {
        width: 32px;
        height: 32px;
    }
    .header-menu-social-icon {
        width: 24px;
        height: 24px;
    }
  }
   /* ---------------DESKTOP------------------ */
  @media screen and (min-width: 1200px) {
    .header-menu {
        display: none;
    }
    .header-button-humburger {
        display: none;
    }
    .header-all {
        align-items: center;
    }
    .header-logo-link {
        font-size: 18px;
        line-height: 1.11;
    }
    .header-logo-icon {
        width: 24px;
        height: 24px;
    }
    .header-all {
        padding-bottom: 32px;
      }
  }
   /* --------------OTHER---------------------- */
@media screen and (max-width:1199px) {
    .header-navigation {
        display: none;
    }
    .header-social-list {
        display: none;
    }
}