/* -----Hero-mobile----- */

.hero {
  padding-top: 395px;
  padding-bottom: 21px;
}

.hero-container {
  padding-bottom: 71px;
}

.background {
  padding-left: 20px;
  padding-right: 20px;
  height: 621px;
  border-radius: 30px;
  background-image: url('../img/hero-mob@1x-min.png');
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .background {
    background-image: url('/img/hero-mob@2x-min.png');
  }
}

.hero-title {
  width: 290px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.03em;
  color: var(--text-white-color);
}

.hero-text {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.03em;
  color: var(--text-white-color);
}

.hero-info-btn {
  display: block;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 12px;
  color: var(--text-white-color);
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 100px;
  transition: color var(--transition-speed),
    background-color var(--transition-speed);
}

.hero-info-btn:hover,
.hero-info-btn:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.hero-order-btn {
  display: block;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 27px;
  padding-right: 27px;
  color: var(--text-white-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  transition: color var(--transition-speed),
    background-color var(--transition-speed);
}

.hero-order-btn:hover,
.hero-order-btn:focus {
  color: var(--accent-color);
  background-color: var(--btn-hover-color);
}

.scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  margin-left: 12px;
  border-radius: 50%;
  background-color: var(--background-light-color);
  transition: background-color var(--transition-speed);
}

.scroll-btn-icon {
  width: 16px;
  height: 16px;
  stroke: currentColor;
}

.scroll-btn-i {
  display: flex;
  gap: 14;
  align-items: center;
  transition: color var(--transition-speed),
    background-color var(--transition-speed);
}

.scroll-btn-i:hover,
.scroll-btn-i:focus {
  color: var(--accent-color);
}

.scroll-btn-i:hover .scroll-btn,
.scroll-btn-i:focus .scroll-btn {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}

.hero-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.go-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  display: none;
  transform: rotate(180deg);
  width: 38px;
  height: 38px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color var(--transition-speed);
  z-index: 1000;
}

.go-top-icon {
  width: 24px;
  height: 24px;
  stroke: var(--btn-hover-color);
}

.go-top:hover,
.go-top:focus {
  background-color: var(--btn-hover-color);
  transition: background-color var(--transition-speed);
}

.go-top:hover .go-top-icon,
.go-top:focus .go-top-icon {
  color: var(--text-white-color);
}

.go-top--show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  margin-top: 32px;
}

@media screen and (max-width: 340px) {
  .hero-title {
    width: 235px;
  }
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

@media screen and (min-width: 310px) and (max-width: 340px) {
  .hero {
    padding-top: 369px;
  }
  .hero-text {
    margin-top: 18px;
  }
}

@media screen and (min-width: 340px) and (max-width: 375px) {
  .hero-text {
    margin-top: 32px;
  }
}

@media screen and (min-width: 310px) and (max-width: 374px) {
  .hero-info-btn {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .hero-order-btn {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-text {
    margin-top: 26px;
  }
}

/* -----Hero-tablet----- */

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 671px;
    padding-bottom: 40px;
  }

  .background {
    padding-left: 40px;
    padding-right: 40px;
    height: 890px;
    background-image: url('/img/hero-tab@1x-min.png');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .background {
      background-image: url('/img/hero-tab@2x-min.png');
    }
  }

  .hero-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 484px;
    height: 102px;
    font-size: 28px;
    line-height: calc(34 / 28);
  }

  .hero-text {
    font-size: 14px;
    line-height: calc(18 / 14);
    margin-left: auto;
    margin-top: 0;
  }

  .hero-info-btn {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 14px;
  }

  .hero-order-btn {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .scroll-btn {
    width: 38px;
    height: 38px;
    margin-left: 14px;
  }

  .scroll-btn-icon {
    width: 22px;
    height: 22px;
  }
}

/* -----Hero-desktop----- */

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 381px;
    padding-bottom: 40px;
  }

  .background {
    height: 600px;
    background-image: url('/img/hero-desk@1x-min.png');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .background {
      background-image: url('/img/hero-desk@2x-min.png');
    }
  }

  .hero-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 484px;
    height: 102px;
    font-size: 28px;
    line-height: calc(34 / 28);
  }

  .hero-text {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
