/* -----------------------------MODAL WINDOW--------------------------------------- */
/* .overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 12;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, viibility 250ms linear;
  overflow-y: auto;
} */
/* .modal.active {
  opacity: 1;
  scale: 1;
} */
/* .overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: none;
} */

/* .modal {
  transition: scale 500ms linear, opacity 500ms linear;
  scale: 0.4;
  opacity: 0;
} */
.modal_review {
  position: fixed;
  z-index: 800;
  display: flex;
  width: calc(100% - 32px);
  max-width: 311px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.modal-close-button {
  background-color: inherit;
  border: none;
  margin-left: auto;
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.modal-close-icon {
  stroke: var(--text-dark-color);
  background-color: inherit;
}

/* -------------------------------------FORM------------------------------------- */
.form-review {
  display: flex;
  flex-direction: column;
  padding: 42px 24px 32px 24px;
  height: auto;
}
.form-review-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-dark-color);
  margin-bottom: 32px;
  text-align: left;
}
.leave-span {
  display: block;
}
.choko-span {
  color: var(--accent-color);
}

.form-review-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 18px;
  margin-top: 0;
}

.form-input-contacts {
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 14px 18px;
  font: inherit;
  border-radius: 8px;
  border: 1.5px solid var(--border-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-contacts:not(:placeholder-shown):invalid {
  border-color: red;
  background-color: rgba(239, 116, 122, 0.4);
}

.form-phone {
  display: inline-block;
  position: relative;
}
.form-phone > .form-input-contacts {
  padding-left: 106px;
}
.phone-flag {
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0px;
  left: 0px;
}
.phone-code {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 32px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: var(--text-dark-color);
}

.form-phone b {
  display: inline-block;
  height: 24px;
  width: 74px;
  padding: 0px;
  position: absolute;
  top: 10px;
  left: 18px;
  border-right: 1px solid var(--border-color);
}

.textarea-comment::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  color: var(--placeholder-color);
}
.form-input-contacts::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  color: var(--placeholder-color);
}

.textarea-comments {
  width: 100%;
  height: 91px;
  resize: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  padding: 14px 18px;
  border-radius: 8px;
  border: 1.5px solid var(--border-color);
}

/*----------------------------SEND-BUTTON--------------------------------------------*/
.form-send-btn {
  display: block;
  min-width: 93px;
  padding: 12px 28px;
  margin-right: auto;
  background-color: var(--accent-color);
  border: none;
  border-radius: 100px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.22;
  color: var(--background-color);
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send-btn:is(:hover, :focus) {
  color: var(--accent-color);
  background-color: var(--btn-hover-color);
}
/* --------------------------------TABLET!!!!!!!!!!!------------------------- */

@media screen and (min-width: 768px) {
  .modal_review {
    max-width: 512px;
  }

  .modal-close-button {
    top: 24px;
    right: 24px;
  }

  .form-review {
    width: 517px;
    padding: 40px;
  }
  .form-review-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 40px;
    text-align: left;
    width: 297px;
  }
  .leave-span {
    display: inline;
  }
  .form-review-contacts {
    gap: 19px;
  }

  .form-input-contacts {
    font-size: 18px;
    line-height: 1.22;
    padding: 22px 24px;
    height: 66px;
  }
  .textarea-comment::placeholder,
  .form-input-contacts::placeholder {
    font-size: 18px;
    line-height: 1.2;
  }
  .textarea-comments {
    font-size: 18px;
    line-height: 1.22;
    height: 137px;
  }
  .phone-flag {
    width: 32px;
    height: 32px;
  }

  .phone-code {
    font-size: 18px;
    line-height: 22px;
    left: 50px;
    top: 5px;
  }
  .form-phone b {
    height: 32px;
    width: 125px;
    top: 17px;
    left: 24px;
  }
  .form-phone > .form-input-contacts {
    padding-left: 177px;
  }
  .form-send-btn {
    width: 117px;
    padding: 14px 40px;
  }
}
/* ------------------------DESkTOP---------------------------------- */
/* Not need)))) */
