.unique {
  padding-top: 72px;
  padding-bottom: 72px;
  font-family: 'Montserrat';
}

.unique-tittle {
  margin: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  text-transform: uppercase;
  color: var(--text-dark-color);
  margin-bottom: 24px;
  letter-spacing: -0.03em;
  max-width: 283px;
}

.unique-desc-bl-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-dark-color);
  margin-bottom: 8px;
}

.unique-descr-block-btns {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-bottom: 14px;
}

.unique-desc-bl-first-btn {
  padding: 6px 16px;
  background: var(--accent-color);
  border-radius: 35px;
  border: none;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: var(--text-white-color);
  transition: color var(--transition-speed),
    background-color var(--transition-speed);
}

.unique-desc-bl-first-btn:hover {
  background: var(--btn-hover-color);
  color: var(--accent-color);
}

.unique-desc-bl-second-btn {
  padding: 6px 16px;
  gap: 4px;
  background: var(--text-white-color);
  border: 1px solid var(--accent-color);
  border-radius: 35px;
  font-size: 10px;
  line-height: calc(12 / 10);
  transition: color var(--transition-speed),
    background-color var(--transition-speed);
}

.unique-desc-bl-second-btn:hover {
  background: var(--accent-color);
  color: var(--text-white-color);
}

.unique-desc-block-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  overflow: hidden;
}

.unique-tittle-accent {
  color: var(--accent-color);
}

.unique-text {
  font-size: 14px;
  line-height: calc(18 / 14);
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.unique-items {
  display: grid;
  gap: 20px;
}

.unique-item {
  border-radius: 15px;
  padding: 28px 55px 71px 56px;
  position: relative;
  overflow: hidden;
  transition: border-color var(--transition-speed),
    background-color var(--transition-speed);
}

.unique-img {
  width: 224px;
  height: 171px;
}

.unique-item:first-child {
  background-color: var(--accent-color);
}

.unique-item:nth-child(even) {
  border: 1px solid var(--accent-color);
}

.unique-item:nth-child(3) {
  background-color: var(--background-dark-color);
}

.unique-item-description {
  position: absolute;
  bottom: 28px;
  left: 28px;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.unique-desc-block {
  position: absolute;
  left: 0;
  top: 0;
  transform: translatey(102%);
  background-color: var(--text-white-color);
  padding: 28px;
  border-radius: 15px;
  transition: transform var(--transition-speed);
}

.unique-item:hover .unique-desc-block {
  transform: translatex(0);
}

.unique-item:hover {
  border-color: transparent;
  background-color: transparent;
}

.unique-item:nth-child(1) > p {
  color: var(--text-white-color);
}

.unique-item:nth-child(3) > p {
  color: var(--text-white-color);
}

@media screen and (min-width: 768px) {
  .unique-items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
  }

  .unique-tittle {
    max-width: 350px;
    line-height: calc(28 / 24);
  }

  .unique-text {
    width: 486px;
    margin-left: auto;
    margin-right: auto;
  }

  .unique {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .unique-tittle {
    margin-bottom: 28px;
  }

  .unique-text {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .unique-item:nth-child(1) {
    order: 1;
  }

  .unique-item:nth-child(2) {
    order: 3;
  }

  .unique-item:nth-child(3) {
    order: 4;
  }

  .unique-item:nth-child(4) {
    order: 2;
  }
}

@media screen and (min-width: 1200px) {
  .unique-item {
    padding: 28px 56px 71px 56px;
  }

  .unique-tittle {
    line-height: calc(28 / 24);
  }

  .unique {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .unique-item {
    padding: 28px 36px 82px 28px;
  }

  .unique-img {
    width: 206px;
    height: 160px;
  }

  .unique-items {
    flex-wrap: nowrap;
    row-gap: 0px;
    column-gap: 19px;
  }
}
